.container {
	width: 20%;
	height: 100%;
	border: 1px solid red;
}

.tabs {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.tab {
		background-color: green;
		color: black;
	}
	.tabSelected {
		background-color: greenyellow;
	}
}
