.container {
	position: relative;
	width: 20%;
	max-width: 250px;
	height: 100%;
	border: 1px solid green;
	overflow: auto;
}

.tabs {
	position: sticky;
	background-color: #1d1d1d;
	z-index: 1;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.tab {
		background-color: green;
		color: black;
	}
	.tabSelected {
		background-color: greenyellow;
	}
}
