.header {
	display: flex;
	align-items: center;
	height: 18em;
	border: 1px solid green;
	// NFT PROFILE IMG
	.profilePictureContainer {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: inherit;
		width: 25%;
		.profilePictureImgContainer {
			height: 75%;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				max-height: 100%;
				width: 100%;
			}
		}
	}
	// BANNER SECTION
	.bannerContainer {
		display: flex;
		align-items: center;
		width: 50%;
		height: 100%;
		position: relative;
		overflow: hidden;
		img {
			margin: auto;
			width: 100%;
			max-width: 650px;
		}
	}
	// CONFIG BUTTONS SECTION
	.configSection {
		width: 25%;
		.configSection_buttonHolder {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			.buttonHolder_button {
				text-transform: uppercase;
				height: 3em;
				width: 50%;
				margin: 1em 0;
				background-color: #000;
				color: green;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
	}
}
