.header {
	display: flex;
	align-items: center;
	height: 20em;
	border: 1px solid green;
	// Profile Picture Container
	.profilePictureContainer {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: inherit;
		width: 25%;
		.profilePictureImgContainer {
			height: 90%;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				max-height: 100%;
				width: 100%;
			}
		}
	}
	.bannerContainer {
		display: flex;
		align-items: center;
		width: 50%;
		height: 100%;
		position: relative;
		overflow: hidden;
		img {
			margin: auto;
			width: auto;
		}
	}
	.configSection {
		width: 25%;
		.configSection_buttonHolder {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			.buttonHolder_button {
				height: 3em;
				width: 80%;
				margin: 1em 0;
				background-color: #000;
				color: green;
			}
		}
	}
}
