.header {
	display: flex;
	align-items: center;
	height: 20em;
	border: 1px solid red;
	// Profile Picture Container
	.profilePictureContainer {
		position: relative;
		display: flex;
		align-items: center;
		overflow: hidden;
		height: 20em;
		width: 25%;
		img {
			width: 90%;
			border: 1px solid red;
		}
	}
	.bannerContainer {
		display: flex;
		align-items: center;
		width: 50%;
		height: 100%;
		position: relative;
		overflow: hidden;
		img {
			width: auto;
			border: 1px solid red;
		}
	}
	.configSection {
		width: 25%;
	}
}
